# Archivos de compilación y binarios
Debug/
Release/
build/
*.elf
*.hex
*.bin
*.map
*.lst

# Metadatos y configuraciones locales de Eclipse / STM32CubeIDE
.metadata/
.settings/
.launch
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log
logs/
renodescripts/*.log
renode_output.log
*.tmp
*.cache

# ARCHIVOS DE PRUEBAS (Ceedling)
tests/build/
tests/test/results/

# ARCHIVOS DE IDE
.vscode/
.idea/
*.swp
*.swo
